@import "../../../styles.scss";

#friends-wrapper {
  background-color: $background-color;
  min-height: calc(92vh + 21px);
}

#friends {
  padding-top: 1rem;
}

#addRemove {
  position: fixed;
  bottom: 6vh;
  right: 4vw;
}
